# Godot 4
.godot/

# Android
android/

# Build output
export/
*.apk
*.aab
*.aab.zip

# .NET
bin/
obj/
*.csproj.user
*.sln.DotSettings.user

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
*.swp

# Temp
tmp/
